{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
 {{#with program}} 
        <section>
             <ul>
            {{> title data="Program" big=true}}
            </ul>
            {{> title data="excursion"}}
            <ul>
                <li>{{excursion.name}}</li> 
            </ul> 

            {{> title data="location"}}
             <ul>
                <li>{{excursion.location.city}}</li> 
                <li>{{excursion.location.country}}</li> 
            </ul> 

             {{> title data="date"}}
             <ul>
                <li>{{excursion.date}}</li> 
            </ul> 
            
             {{> title data="program"}}
             
            {{#each excursion.program}}
                 <ul>
                <li>{{name}}</li>
                <li>{{type}}</li>
                <li>{{duration}}</li>
                 </ul>  
                            
            {{> title data="details-museum"}}
                 {{#each details}}
                {{#each museum}}
              <li>{{name}}</li>
                 {{/each}}
                {{/each}}
                {{/each}} 
           
                   
            </section> 
        {{/with}}       
    </div>
            
   
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
